.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 100%;
  position: relative;
  height: 100%;
  font-weight: bold;
  color: #fff;
  font-weight: 900;
  text-align: center;
  cursor: default;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  pointer-events: none;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
